.singleChallenge {
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    border: 7px solid #852d95;
    background: #EAD3FF;
    box-shadow: 0 4px 6px #44134d;
    transition: transform 0.2s ease;
}

.singleChallenge:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px  rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.name, .category, .points {
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word; 
    color: var(--WiCyS-Purple, #812990);
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #812990;
    font-family: Syncopate;
    font-size: 25px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.points {
    color: #1B529B;
    -webkit-text-stroke-color: #1B529B;
}

.category{
    font-size: 15px;
}

.img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}